:root {
    --primary-bg-midnight: #014E56;
    --primary-color-coral: #f67e7e;
    --primary-color-white: #ffffff;
    --secondary-color-rapture: #79c8c7;
    --secondary-bg-police: #2c6269;
    --secondary-color-jungle: #004047;
    --secondary-sacremento: #012F34;
    --secondary-bg-darkgreen: #002529;
}