@use "./../sass" as *;
@use "./../sass/components/header" as *;
@use "./../sass/components/overlay" as *;
@use "./../sass/components/contact" as *;
@use "./../sass/components/footer" as *;

main {
    @extend %container;
    height: 480px;
    position: relative;
    padding-top: 70px;
    text-align: center;
    z-index: 2;

    h1 {
        margin-bottom: 1rem;

        &::after {
            content: " talent";
            color: var(--primary-color-coral);
        }
    }

    p {
        max-width: 540px;
        margin: 0 auto;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 150px;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 535px;
        background: url(./../images/bg-pattern-home-2.svg) center/cover no-repeat;
        z-index: -1;
    }

}

section.products {
    @extend %container;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: var(--secondary-sacremento);
    z-index: 2;
    overflow: hidden;
    text-align: center;

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        right: 0; top: 0;
        height: 244px; width: 200px;
        transform: translate(50%, 0);
        background: url(./../images/bg-pattern-home-3.svg) center/cover no-repeat;
    }

    h2 {
        text-align: left;
        position: relative;
        padding-top: 32px;
        padding-right: 80px;

        &::before {
            content: "";
            position: absolute;
            top: 0; left: 0; width: 50px; height: 4px;
            background-color: var(--primary-color-coral);
        }
    }
}

.cards-chart {
    list-style: none;
    margin-top: 56px;

    li {

        &:nth-child(2) {
            margin: 48px 0;
        }

        .content-article {
            margin-top: 16px;

            h3 {
                color: var(--primary-color-coral);
                margin-bottom: 16px;
            }

            p {
                width: 100%;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }


    }

}

section.testimonials {
    @extend %container;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-color: var(--secondary-color-jungle);

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        background: url(./../images/bg-pattern-home-4-about-3.svg) center/cover no-repeat;
        height: 100px; width: 150px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0; right: 0;
        height: 100px;
        width: 200px;
        background: url(./../images/bg-pattern-home-5.svg) center/cover;
    }

    h2 {

        &::after {
            content: " success stories";
            color: var(--secondary-color-rapture);
        }

    }

}

.cards-testimonials {
    list-style: none;
    margin-top: 48px;

    li {
        display: flex;
        flex-direction: column;
        background: url(./../images/icon-quotes.svg) top no-repeat;
        padding-top: 36px;

        &:nth-child(2) {
            margin: 48px 0;
        }

        h3 {
            color: var(--secondary-color-rapture);
            margin-top: 16px;
        }

        em {
            margin-bottom: 16px;
            font-size: 13px;
        }

        img {
            height: 62px;
            width: 62px;
            border-radius: 50%;
            border: 2px solid #C4fffe;
            margin: 0 auto;
        }

    }

}

@media screen and (min-width: 750px) {
    main {
        height: 600px;
        padding-top: 110px;
        
        h1 {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 32px;
        }
    }

    section.products {
        text-align: left;

        h2 {
            padding-right: 25%;
        }
    }

    .cards-chart {

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            
            .content-article {
                margin-top: 0;
            }
        }
    }

    .cards-testimonials {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        padding-top: 130px;
        padding-bottom: 250px;
        text-align: left;

        &::before {
            content: "";
            position: absolute;
            left: 0; top: 0;
            transform: translate(-50%, calc(50% + 20px));
            background: url(./../images/bg-pattern-home-1.svg) center/cover no-repeat;
            height: 200px; width: 200px;
        }

        &::after {
            transform: translate(0, 0);
            right: 0;
        }

        h1 {
            position: relative;
            padding: 0 2rem;
            width: auto;
            height: 100%;
            margin-bottom: 0;
            
            &::before {
                content: "";
                position: absolute;
                width: 50px;
                height: 4px;
                top: 0; right: 0;
                transform: translate(100%, 0);
                background-color: var(--secondary-color-rapture);
            }
        }

        p {
            font-size: 18px;
            margin-top: auto;
            text-align:start;
            padding-bottom: 24px;
        }

    }

    section.products {
        display: grid;
        grid-template-columns: 1fr 1fr;

        h2 {
            padding-right: 0;
        }

        ul {
            margin-top: 0;
            padding-top: 32px;
        }
    }

    .cards-testimonials {
        display: flex;
        gap: 32px;
        width: auto;

        li:nth-child(2) {
            margin: 0;
        }

    }
}