@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
:root {
  --primary-bg-midnight: #014E56;
  --primary-color-coral: #f67e7e;
  --primary-color-white: #ffffff;
  --secondary-color-rapture: #79c8c7;
  --secondary-bg-police: #2c6269;
  --secondary-color-jungle: #004047;
  --secondary-sacremento: #012F34;
  --secondary-bg-darkgreen: #002529;
}

h1.large,
h1.small {
  color: var(--primary-color-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

@media screen and (min-width: 750px) {
  h1.large {
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
  }

  h1.small {
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  h1.large {
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
  color: var(--primary-color-white);
  background-color: var(--primary-bg-midnight);
}

footer, main, section.products, section.testimonials, section.contact, header {
  padding-left: calc(50% - calc(100% - 48px) / 2);
  padding-right: calc(50% - calc(100% - 48px) / 2);
}

@media only screen and (min-width: 750px) {
  footer, main, section.products, section.testimonials, section.contact, header {
    padding-left: calc(50% - calc(100% - 184px) / 2);
    padding-right: calc(50% - calc(100% - 184px) / 2);
  }
}
@media only screen and (min-width: 1288px) {
  footer, main, section.products, section.testimonials, section.contact, header {
    padding-left: calc(50% - 1110px / 2);
    padding-right: calc(50% - 1110px / 2);
  }
}
header {
  padding-top: 48px;
  display: flex;
  align-items: center;
}
header .toggle {
  margin-left: auto;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  z-index: 4;
}
header nav {
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: calc(100% - 20%);
  padding: 110px 48px 0 48px;
  background-color: var(--secondary-bg-police);
  transform: translate(100%, 0);
  transition: 0.5s ease;
  z-index: 3;
}
header nav::after {
  content: url(./../images/bg-pattern-about-1-mobile-nav-1.svg);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 0);
}
header nav a {
  color: var(--primary-color-white);
  text-decoration: none;
  transition: 0.3s ease;
}
header nav a:hover:not(last-child) {
  color: var(--primary-color-coral);
}
header nav a:last-child {
  text-align: center;
  border: 2px solid var(--primary-color-white);
  padding: 10px 33px;
  border-radius: 99px;
}
header nav a:last-child:hover {
  background-color: var(--primary-color-white);
  color: var(--secondary-bg-darkgreen);
}

.is-open {
  transform: translate(0, 0);
}

@media screen and (min-width: 750px) {
  header .toggle {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100%;
    gap: 36px;
    position: sticky;
    height: auto;
    width: auto;
    padding: 0;
    padding-left: 48px;
    background-color: transparent;
    transform: translate(0, 0);
    transition: 0.5s ease;
    z-index: 3;
  }
  header nav::after {
    content: none;
  }
  header nav a:last-child {
    padding: 8px 24px;
    margin-left: auto;
  }
}
#overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 2;
}

.fixed {
  position: fixed;
}

section.contact {
  position: relative;
  padding-top: 83px;
  padding-bottom: 83px;
  height: 300px;
  background-color: var(--primary-color-coral);
  text-align: center;
}
section.contact::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 200px;
  background: url(./../images/bg-pattern-home-6-about-5.svg) center/cover no-repeat;
}
section.contact h2 {
  color: var(--secondary-sacremento);
}
section.contact a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 32px;
  color: var(--secondary-sacremento);
  border: 2px solid var(--secondary-sacremento);
  border-radius: 99px;
  transition: 0.3s ease;
  margin-top: 24px;
  font-weight: 700;
}
section.contact a:hover {
  background-color: var(--secondary-sacremento);
  color: var(--primary-color-white);
}

@media screen and (min-width: 750px) {
  section.contact {
    height: 200px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    justify-content: center;
    gap: 84px;
  }
}
footer {
  text-align: center;
  background-color: var(--secondary-bg-darkgreen);
  padding-top: 64px;
  padding-bottom: 64px;
}
footer img {
  transform: scale(0.8);
  margin-bottom: 24px;
}
footer nav a {
  color: white;
  text-decoration: none;
  padding: 0 12px;
  transition: 0.3s ease;
}
footer nav a:hover {
  color: var(--primary-color-coral);
}
footer nav + p {
  margin: 24px 0;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 16px;
}
footer p {
  opacity: 0.6;
  font-weight: 600;
}

@media screen and (min-width: 750px) {
  footer {
    text-align: left;
    display: grid;
  }
  footer img {
    transform: scale(1);
    margin-bottom: 0;
  }
  footer nav {
    display: flex;
    gap: 16px;
    grid-row: 2/3;
  }
  footer nav a {
    padding: 0;
  }
  footer nav + p {
    grid-row: 1/3;
    margin: 0 0 24px 0;
  }
  footer ul {
    justify-content: flex-start;
  }
  footer p {
    text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer ul {
    justify-content: flex-end;
  }
  footer nav {
    align-items: flex-end;
  }
  footer nav + p {
    margin: 0;
  }
  footer p:last-child {
    padding-top: 45px;
  }
}
main {
  height: 480px;
  position: relative;
  padding-top: 70px;
  text-align: center;
  z-index: 2;
}
main h1 {
  margin-bottom: 1rem;
}
main h1::after {
  content: " talent";
  color: var(--primary-color-coral);
}
main p {
  max-width: 540px;
  margin: 0 auto;
}
main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 150px;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 535px;
  background: url(./../images/bg-pattern-home-2.svg) center/cover no-repeat;
  z-index: -1;
}

section.products {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--secondary-sacremento);
  z-index: 2;
  overflow: hidden;
  text-align: center;
}
section.products::after {
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
  height: 244px;
  width: 200px;
  transform: translate(50%, 0);
  background: url(./../images/bg-pattern-home-3.svg) center/cover no-repeat;
}
section.products h2 {
  text-align: left;
  position: relative;
  padding-top: 32px;
  padding-right: 80px;
}
section.products h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: var(--primary-color-coral);
}

.cards-chart {
  list-style: none;
  margin-top: 56px;
}
.cards-chart li:nth-child(2) {
  margin: 48px 0;
}
.cards-chart li .content-article {
  margin-top: 16px;
}
.cards-chart li .content-article h3 {
  color: var(--primary-color-coral);
  margin-bottom: 16px;
}
.cards-chart li .content-article p {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

section.testimonials {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: var(--secondary-color-jungle);
}
section.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(./../images/bg-pattern-home-4-about-3.svg) center/cover no-repeat;
  height: 100px;
  width: 150px;
}
section.testimonials::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 200px;
  background: url(./../images/bg-pattern-home-5.svg) center/cover;
}
section.testimonials h2::after {
  content: " success stories";
  color: var(--secondary-color-rapture);
}

.cards-testimonials {
  list-style: none;
  margin-top: 48px;
}
.cards-testimonials li {
  display: flex;
  flex-direction: column;
  background: url(./../images/icon-quotes.svg) top no-repeat;
  padding-top: 36px;
}
.cards-testimonials li:nth-child(2) {
  margin: 48px 0;
}
.cards-testimonials li h3 {
  color: var(--secondary-color-rapture);
  margin-top: 16px;
}
.cards-testimonials li em {
  margin-bottom: 16px;
  font-size: 13px;
}
.cards-testimonials li img {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 2px solid #C4fffe;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  main {
    height: 600px;
    padding-top: 110px;
  }
  main h1 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  section.products {
    text-align: left;
  }
  section.products h2 {
    padding-right: 25%;
  }

  .cards-chart li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .cards-chart li .content-article {
    margin-top: 0;
  }

  .cards-testimonials {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 250px;
    text-align: left;
  }
  main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, calc(50% + 20px));
    background: url(./../images/bg-pattern-home-1.svg) center/cover no-repeat;
    height: 200px;
    width: 200px;
  }
  main::after {
    transform: translate(0, 0);
    right: 0;
  }
  main h1 {
    position: relative;
    padding: 0 2rem;
    width: auto;
    height: 100%;
    margin-bottom: 0;
  }
  main h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    background-color: var(--secondary-color-rapture);
  }
  main p {
    font-size: 18px;
    margin-top: auto;
    text-align: start;
    padding-bottom: 24px;
  }

  section.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.products h2 {
    padding-right: 0;
  }
  section.products ul {
    margin-top: 0;
    padding-top: 32px;
  }

  .cards-testimonials {
    display: flex;
    gap: 32px;
    width: auto;
  }
  .cards-testimonials li:nth-child(2) {
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
